<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/mint-ui/lib/style.css">
    <link rel="stylesheet" href="https://unpkg.com/mint-ui@2.2.13/lib/infinite-scroll/style.css">
    <link rel="stylesheet" href="./css/style.min.css">
</head>

<body id='news'>
    <div id="app" class="container">
        <article>
            <header>
                <img src="./img/logo.jpg" class="logo">
                <div class="tel">
                    <img src="./img/icon-top-tel-l.jpg" class="tel-l">
                    <a href="tel:0371-86561351"><p class="tel-r"><span>Tel: </span>0371-86561351</p></a>
                </div>
                <div class="menu">
                    <mt-button @click.native="handleClick">
                        <img src="./img/icon-top-menu.jpg">
                    </mt-button>
                </div>
                <!-- menu导航栏 -->
                <mt-popup v-model="popupVisible" position="top">
                    <div class="allm">
                        <div class="allmenu-a">
                            <div class="allmenu-b">
                                <a href="./index.html">
                                    首页
                                </a>
                            </div>
                        </div>
                        <div class="allmenu-a">
                            <div class="allmenu-b">
                                <a href="./product_index.html">
                                    破碎设备
                                </a>
                            </div>
                        </div>
                        <div class="allmenu-a">
                            <div class="allmenu-b">
                                <a href="./product_index.html">
                                    磨粉设备
                                </a>
                            </div>
                        </div>
                        <div class="allmenu-a">
                            <div class="allmenu-b">
                                <a href="./product_index.html">
                                    制砂设备
                                </a>
                            </div>
                        </div>
                        <div class="allmenu-a">
                            <div class="allmenu-b">
                                <a href="./product_index.html">
                                    移动站
                                </a>
                            </div>
                        </div>
                        <div class="allmenu-a">
                            <div class="allmenu-b">
                                <a href="./case_index.html">
                                    案例
                                </a>
                            </div>
                        </div>
                        <div class="allmenu-a">
                            <div class="allmenu-b">
                                <a href="./news_index.html">
                                    新闻
                                </a>
                            </div>
                        </div>
                        <div class="allmenu-a">
                            <div class="allmenu-b">
                                <a href="./about_us.html">
                                    关于我们
                                </a>
                            </div>
                        </div>
                    </div>
                </mt-popup>
            </header>
            <div class="banner">
                <img src="./img/banner_news_index.jpg">
                <div class="guide">
                    <p class="title">聚焦企业动态，凝心聚力铸辉煌</p>
                    <p class="intro">关注企业动向，网罗行业资讯，热议市场焦点，在这里您可以更深入，更全面的了解黎明，在这里，读懂黎明</p>
                </div>
            </div>
            <section class=" news news-list">
                <div class="news-center">
                    <p>新闻中心<span>及时</span></p>
                </div>
                <ul class="list-unstyle" v-infinite-scroll="loadMore" infinite-scroll-disabled="loading"
                    infinite-scroll-distance="0">
                    <li class="clearfix" v-for="item in list">
                        <a :href=item.url>
                            <img :src=item.img :alt=item.title>
                            <p class="title">{{ item.title }}</p>
                            <p class="pubtime"><span>{{ item.time }}</span></p>
                        </a>
                    </li>
                </ul>
            </section>
        </article>
        <footer class="clearfix">
            <div class="l">
                <a href="#">
                    <img src="./img/icon-bottom-chat.jpg">
                    <span>我要留言</span>
                    <p>我们将竭诚为您服务</p>
                </a>
            </div>
            <div class="m">
                <a href="#">
                    <span>在线咨询</span></a>
            </div>
            <div class="r">
                <a href="tel:0371-67986666">
                    <img src="./img/icon-bottom-tel.jpg" alt="">
                    <span>联系我们</span>
                    <p>0371-67986666</p>
                </a>
            </div>
        </footer>
    </div>
</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/mint-ui@2.2.13/lib/index.js"></script>
<script src="https://unpkg.com/mint-ui@2.2.13/lib/infinite-scroll/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            newslist: [
                {
                    img: './img/index-news1.jpg',
                    title: '致敬劳动者丨张克亮师傅：不为别的，为的是对得起自己的手艺1。',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news2.jpg',
                    title: '黎明重工获“全国混凝土行业产业链一体化示范企业”殊荣',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news1.jpg',
                    title: '致敬劳动者丨张克亮师傅：不为别的，为的是对得起自己的手艺2。',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news2.jpg',
                    title: '黎明重工获“全国混凝土行业产业链一体化示范企业”殊荣',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news1.jpg',
                    title: '致敬劳动者丨张克亮师傅：不为别的，为的是对得起自己的手艺2。',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                },
                {
                    img: './img/index-news3.jpg',
                    title: '再添荣耀，黎明重工两项科技成果被评为“国际先进水平”',
                    time: '2019-5-31',
                    url: './news_article.html'
                }
            ],
            list:[],
            num:'',
            popupVisible: false
        },
        created() {
            let num=3
            this.list=this.newslist.slice(this.num,this.num+6)
            newnum=0
            console.log(newnum)
        },
        mounted() {
            newnum=parseInt(newnum)+8
            console.log(newnum)
        },
        methods: {
            handleClick: function () {
                this.popupVisible = true
            },
            loadMore() {
                //this.loading = true;
                //setTimeout(() => {
                //    let last = this.list[this.list.length - 1];
                //    console.log(last)
                //    for (let i = 1; i <= 2; i++) {
                //        this.list.push(this.more);
                //    }
                //    this.loading = false;
                //}, 100);
                this.list=this.newslist.slice(0,newnum)
                // 每点击一次,加2
                newnum=newnum + 2
                //console.log(this.list)
                // 数组长度
                listsnum=this.newslist.length
                //console.log(listsnum)
                
            }
        }
    })
</script>
<script>
    window.onload = function () {
        if (document.documentElement.clientWidth <= 750) {
            document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px'
        } else {
            document.documentElement.style.fontSize = '100px'
        }

    }
</script>

</html>